ul {
  border-width: 1px;
  border-style: dashed;
  border-color: red;
}

ul {
  border-color: blue;
}

.green {
  color: green;
}
.orange {
  color: orange;
}

.our-section {
  color: blue;
  width: 50%;
  border: 2px solid red;
}

p {
  color: red;
  font-style: italic;
  font-weight: bold;
}

p.special {
  color: orange;
}

.special {
  color: blue;
}
