<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Grocery list</title>
        <link rel="stylesheet" href="/stylesheets/index.css"></head>

    <body>
        <div class='title'>
            <h1>Food Stuff List :D</h1>
        </div>

        <div class='food_items'>
            <%@food_things.each do |item|%>
            <li><%=item%></li>
        <% end %>
    </body>
    <br>
    <button type='button'>
        <a href='/groceries/new' value='submit'>
            Add a Grocery Item
        </a>
    </button>
</html></div><script src="/javascripts/app.js"></script></body></html>
