<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add Grocery Page</title>
        <link rel="stylesheet" href="/stylesheets/index.css"></head>
    <body>
        <h1>New Grocery Form Page</h1>
        <div>
            <form action='/groceries' method='post'>
                <label> New Item:
                    <input type="text" name="Name" id ="Name"></label>       
                <input type="submit" id = "Add">

        </form>
                <button type='button'>
                <a href='/groceries'>
                    Groceries Index Page
                </a>
            </button>  
        </div>
        <br>
        <script src="/javascripts/app.js"></script>
    </body>
</html></head>
