<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>List of articles</title>
        <link rel="stylesheet" href="/stylesheets/index.css"></head>
    <body>
        <ul>
            <% @article.each do |item| %>
                <h2><%= item["title"] %></h2>
                <a href="<%=item["url"] %>">
                    Link to article
                </a>
                <br><br>
                <p><%= item["description"] %></p>
                <br><br>
            <% end %>
        </ul>
        <div>
        <button type="button"><a href="articles/new" value="submit">
                Submit new article
            </a></button>
        </div>
    </body>
</html></div><script src="/javascripts/app.js"></script></head></html>
