.selected {
  background-color: #89CFF0;
}

.quiz {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color:	#846e4b;
  border: solid;
  border-radius: 10px;
  padding: 60px;
  background-color: #67a0ab;
  font-size: 30px;
}

button {
  color:#846e4b;
  ;
  background-color: #bcdd72;
  border-radius: 10px;
  width: 300px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
 
body {
  background-color: #ecd798;
}


