

<h1> Welcome One and All to the Magical Creatures Website! </h1>
<p>Below the header is a short paragraph description of the website, which you can make up yourself!</p>

<img class="fit-picture" src="https://imgur.com/DdZGm1I.png" alt="Grapefruit slice atop a pile of other slices">
