body {
    background-color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50pt;
}

button{
    background-color: blanchedalmond;
    border-radius: 10%;
}