<!doctype html>


<link rel="stylesheet" href="/stylesheets/index.css"></head>
<div {text_align: center}="center}">
    <div class="error_title">
        <h3>Error!</h3>
    </div>
    <p>
        You can't submit empty forms!
    </p>
</div>

<a href="/articles/new" id="try_again">Try again!</a>
