<!doctype html>
<link rel="stylesheet" href="/stylesheets/index.css"></head>

<h1>
    New Article Form
</h1>
<body>
    <h1>
        <%if @error_dupe%>
    <p class="error" style="font-size: 30px; color: red;"> <%= @error_dupe %> </p
    <%elsif @error_description%>
    <p class="error" style="font-size: 30px; color: red;"> <%= @error_description %> </p>
    <%elsif @error_http%>
    <p class="error" style="font-size: 30px; color: red;"> <%= @error_http %> </p>
    <%elsif @error%>
        <p class="error" style="font-size: 30px; color: red;"> <%= @error %> </p>
<%end%>
    </h1>

    <form action='/articles/new' method='post'>
        <label>Title:
            <input type="text" name="title"></label>

            <label>URL:
                <input type="text" name="url"></label>

                <label>Description:

                    <input type="text" name="description"></label>
                    <button value="submit" type="submit">Submit</button>
                    </form>


                </body>
